<section class="about-company bg-white">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="about-company__right">
                    <div class="mb-2 text-left">
                        <span class="section-title__tagline">PRESENTATION DU GROUPE</span>
                        <h2 class="section-title__title">The Best Group</h2>
                    </div>
                    <div class="about-company__text-2">
                        {{ aboutPage.i18n(locale).description|raw }}
                    </div>
                </div>
            </div>
        </div>
</section>
