<div class="contact-page__details">
    <div class="contact-page__details-contact-info">
        <p><a href="#" class="btn btn-video btn-i d-flex"><span class="st">VOIR NOTRE VIDÉO</span> <span class="icon"><i class="ik ik-play"></i></span></a></p>
        <p><a href="#" class="btn btn-book btn-i d-flex"><span class="st">TÉLÉCHARGER NOTRE BOOK</span> <span class="icon"><i class="ik ik-download"></i></span></a></p>
    </div>
    <div class="contact-page__details-contact-info">
        <ul class="list-unstyled contact-page__details-contact-list">
            <li>
                <div class="text">
                    <p>
                        <a href="{{twitter}}"><i class="fab fa-twitter"></i></a>
                        <a href="{{facebook}}" class="ml-2 clr-fb"><i class="fab fa-facebook"></i></a>
                        <a href="{{linkedin}}" class="ml-2 clr-dri"><i class="fab fa-linkedin"></i></a>
                        <a href="{{instagram}}" class="ml-2 clr-ins"><i class="fab fa-instagram"></i></a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
