<section class="counters-one">
    {% if enabledTitle %}
        <h3 class="text-center text-white"><span class="circle-mark"></span> Les chiffres parlent d'eux-même</h3>
    {% endif %}
    <div class="container">
        <div class="counters-one__box">
            <ul class="row list-unstyled">
                <li class="col-md col-4 projectsCount">
                    <p class="counter-one__text">
                        <span class="d-block one">
                            Plus de <span class="font-weight-bold">{{ projects_done }}</span>
                        </span>
                        <span class="d-block two">Projets réalisés</span>
                        <span class="d-block three">avec success</span>
                    </p>
                </li>
                <li class="col-md col-4 countriesCount">
                    <p class="counter-one__text">
                        <span class="d-block one">Dans plus de</span>
                        <span class="d-block font-weight-bold two">{{ countries }} Pays</span>
                    </p>
                </li>
                <li class="col-md col-6 consultantsCount">
                    <p class="counter-one__text">
                        <span class="d-block one">Avec plus de </span>
                        <span class="font-weight-bold two d-block">{{ consultants }}</span>
                        <span class="three d-block">Experts mobilsés</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
