<div class="newsletter">
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="newsletter-desc">
                <h3 class="letter_title">Sign up for our Newsletter</h3>
                <p class="letter_desc">Stay informed with what we have been up to!</p>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div id="newsletter-bottom-wrap">
                {{ render(controller("App\\Controller\\Foundation\\Front\\ContactController::subscribeEmailBottom")) }}
            </div>
        </div>
    </div>
</div>
