
<div class="col-md-4">
    <div class="x_panel">
        <div class="x_title">
            <h2>Notifications | E-mail
                <small>Module alert</small>
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <article class="media event">
                <a class="pull-left date" href="{{ path('app_notification_back_email_add') }}">
                    <p class="month">{{ 'add'|trans({}, 'external') }}</p>
                    <p class="day"><i class="ion-android-add"></i></p>
                </a>
                <div class="media-body">
                    <p>Personnaliser le contenu des e-mails envoyés aux acteurs de la plateforme. </p>
                    <a class="config-link" href="{{ path('app_notification_back_emails') }}">Voir toutes les
                        notifications</a>
                </div>
            </article>
        </div>
    </div>
</div>