{% extends 'foundation/back/back.html.twig' %}
{% block back %}
    <div class="row">
        <div class="col-md-12">
            <form class="row main-page-form" method="post">
                <div class="col-md-12">
                    {% block deleteConfirmText %}{% endblock %}
                </div>
                <div class="col-md-12">
                    <input name="id" value="{{ item.id }}" type="hidden"/>
                    <button type="submit" class="submit-main-form-btn btn btn-danger btn-sm margin-top-25"><i
                                class="ion-trash-a"></i>{{ 'confirm_delete'|trans({}, 'external') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
