<div class="modal fade" id="app-modal" role="dialog" aria-labelledby="app-modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered app-modal-body" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>