{% extends 'foundation/back/back-delete.html.twig' %}
{% block deleteConfirmText %}
    <p>{{ 'Vous êtes sur le point de supprimer le projet %name%'|trans({'%name%':item.i18n(locale).name},'location') }}</p>
    <p>{{ 'Etes vous sur de vouloir supprimer ce projet ?'|trans({},'location') }}</p>
{% endblock %}
