<section class="trust-experts">
    <div class="trust-experts-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
         style="background-image: url({{asset('images/backgrounds/trust-experts-bg.jpg')}})"></div>
    <div class="container">
        <div class="trust-experts__inner">
            <h2 class="trust-experts__text">{{'text.contact_this_provider' | trans([], 'core')}}</h2>
            <a href="{{path('app_foundation_front_contact')}}" class="trust-experts__btn thm-btn">{{'contact-us'| trans([],'menu')}}</a>
        </div>
    </div>
</section>