{#{{ form_start(templateEmailFileManagerForm, {attr: {novalidate: 'novalidate', id:'uploadTemplateFileForm', action:path('db_newsletter_back_ajax_upload_file_for_email_template')}}) }}#}
{#<div class="">#}
    {#{{ form_row(templateEmailFileManagerForm.file,{'class':'file-upload'}) }}#}
    {#{{ form_rest(templateEmailFileManagerForm) }}#}
{#</div>#}
{#{{ form_end(templateEmailFileManagerForm) }}#}