<div class="pt-5">
    <p class="success-p">
        <i class="ik ik-check color-green"></i>
        Merci, votre contexte de travail a été bien initié.
        Vous serez rédirigé d'ici peu.
    </p>
    <p class="context-loader-icon">
        <img src="{{ asset('css/img/preloader.gif') }}" class="img-fluid"/>
    </p>
</div>