{% extends 'foundation/back/back-delete.html.twig' %}
{% block deleteConfirmText %}
    <p>Vous êtes sur le point de supprimer le message de <u>{{ item.email }}</u></p>
    <p>Etes vous sur de vouloir supprimer cette séquence?</p>
{% endblock %}