<div class="confirm-box">
    <h4 class="con-title">N'oubliez pas de consulter votre boite e-mail</h4>
    <p class="">Un e-mail a été envoyé à l'adresse <span class="email">{{email}}</span>. Il contient un lien d''activation sur lequel il vous faudra cliquer afin d'activer votre compte.</p>
</div>