<div class="modal-header">
    Erreur d'exécution
</div>
<div class="row form-card no-gutters">
    <div class="col-12">
        <div class="main-form-card pt-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="content-form-item">
                        <p class="text-warning size17 py-5" >Une erreur inattendue s'est produite</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary close-app-modal" data-dismiss="modal">{{'button.cancel' | trans({}, 'core')}}</button>
</div>
