<p>Bonjour M./Mdme/Mlle {{ contact_name }},</p> <p style="margin-top: 10px;">Il s'est passé beaucoup de temps depuis la dernières mise à jour de votre profil.</p>
<p style="margin-top: 10px;">Vous êtes prié de mettre à jour votre profil</p>
<p style="margin-top: 10px;">Mettez votre profil à jour en suivant ce lien  <a style="color: #0077b5; text-decoration: underline;" href="{{ confirm_link }}">{{ confirm_link }}</a></p>
<p style="margin-top: 10px;">Bien à vous.</p>